footer {
    width: 100%;
    padding: 20px;
    background: rgb(30, 30, 30);
    color: lightgrey;
}

footer ul {
    display: inline-flex;
    padding: 0%;
}

footer a {
    color: lightgrey;
    font-size: 15px;
    padding: 0 10px 0 10px;
}
footer a:hover {
    color: white;
}
