/* Sans media */

body > footer {
	/* display: grid;
	row-gap: var( --footer-padding );
	padding: 40px var( --global-horizontal-padding ) 0; */
	box-sizing: border-box;
	border-top: 1px solid var( --border-color );
}

body > footer > div {
	display: flex;
}

body > footer > .footer1 > section {
	width: 50%;
}

body > footer > .footer2 > section {
	width: 25%;
}

/* Réseaux sociaux */
body > footer > .footer1 > section:nth-child( 1 ) {
	display: flex;
	justify-content: flex-end;
	border-right: 1px solid var( --border-color );
	margin: 10px 0 10px 0;
}

body > footer > .footer1 > section:nth-child( 1 ) img {
	height: 40px;
}

body > footer > .footer1 > section:nth-child( 1 ) > a {
	padding-right: 25px;
}

/* Payement */
body > footer > .footer1 > section:nth-child( 2 ) {
	display: flex;
	justify-content: flex-start;
	margin: 10px 0 10px 0;
}
body > footer > .footer1 > section:nth-child( 2 ) img {
	height: 40px;
}

body > footer > .footer1 > section:nth-child( 2 ) img {
	padding-left: 25px;
}

.footer2 {
	height: 150px;
	background-color: black;
	color: white;
}

h2 {
	font-weight: 600;
}


h3 {
	font-weight: 300;
}





/* Smartphone */
@media screen and ( max-width: 600px ) {

	/* Adresse */
	body > footer > section:nth-child( 1 ) {
		text-align: center;
	}
}

/* PC */
@media screen and ( min-width: 601px ) {

	body > footer {
		grid-template-columns: 50% 50%;
		align-items: center;
	}

	/* mentions légales */
	body > footer > section:nth-child( 3 ) {
		grid-column: 1 / span 2;
	}
}




/* old */
/* Adresse
body > footer > section:nth-child( 1 ) {
	font-size: 1.2em;
	line-height: 1.3em;
}
body > footer > section:nth-child( 1 ) > p:first-child {
	font-size: 1.2em;
	font-weight: bold;
}

/* Réseaux sociaux */
/* body > footer > section:nth-child( 2 ) {
	display: flex;
	justify-content: space-evenly;
}
body > footer > section:nth-child( 2 ) img {
	height: 80px;
} */