/* Sans media */
/* Body */
body > header > nav {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 0 var( --global-horizontal-padding );
	height: 80px;
}

/* Logo */
body > header > nav > a {
	display: inline-block;
	height: 100%;
	padding: var( --navbar-padding ) 0;
	box-sizing: border-box;
}

/* liste */
body > header > nav > ul {
	display: flex;
	align-items: center;
}

/* Content Shop */
.contentshop {
	display: flex;
	align-items: center;
}

/* Signin header */
.signinheader {
	display: flex;
	width: fit-content;
	border: 2px solid white;
	padding: 5px;
	color: black;
	height: fit-content;
	align-items: center;
	transition: 0.5s;
}
.signinheader:hover {
	border: 2px solid black;
	transition: 0.5s;
}
.signinheader > img {
	height: 20px;
}
.signinheader > h4 {
	margin-left: 10px;
	height: fit-content;
}
.contentshop > a > img {
	height: 25px;
}

/* Smartphone */
@media screen and ( max-width: 600px ) {
	body {
		padding-top: var( --navbar-height );
	}
	/* Menu burger */
	body > header > nav > a > img {
		height: 70%;
	}
	body > header > nav > img {
		margin: var( --navbar-padding ) 0;
		transition: transform .6s ease;
		height: 30%;
	}
	body > header > nav > img {
		margin: var( --navbar-padding ) 0;
	}
	body > header > nav.opened > img {
		transform: rotate( 90deg );
	}
	.contentshop > a > img {
		margin-left: 5px;
	}

	/* Liste */
	body > header > nav > ul {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		padding: var( --navbar-padding ) var( --global-horizontal-padding );
		box-sizing: border-box;
		justify-content: space-between;
		background-color: #fff;
		border-bottom: 1px solid var( --border-color );
		transition: transform .6s ease;
	}
	body > header > nav:not( .opened ) > ul {
		transform: translateX( 100% );
	}
	.contentshop {
		height: fit-content;
    	margin-top: 2%;
	}
	.searchbar {
		margin-top: -20px;
	}
}

/* PC */
@media screen and ( min-width: 601px ) {
	/* DesactivatedStiky */
	/* body {
		padding-top: var( --navbar-height );
	} */

	/* Menu burger */
	body > header > nav > img {
		display: none;
	}
	body > header > nav > a > img {
		height: 100%;
	}
	/* Liste */
	body > header > nav > ul {
		column-gap: 20px;
	}
	.contentshop > a > img {
		margin-left: 25px;
	}
}